.keyPad {
    display: flex;
    flex-direction: row;
    width: 105px;
    height: 300px;
    border: 2px solid gray;
}
.btn {
    width: 45px;
    height: 35px;
    margin: 3px;
    border-radius: 5px;
}
.code {
    width: 160px;
    align-items: center;
    margin: 15px;
    border: 2px solid gray;
    padding: 10px;
    background: darkseagreen;
    border-radius: 5px;
}

.inputCode {
    border: 2px solid gray;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    margin: 10px;
}


.green {
    background: green;
    border: 2px solid gray;
    border-radius: 3px;
    width: 140px;
    height: 30px;
    margin: 10px;
}

.red {
    background: red;
    border: 2px solid gray;
    border-radius: 3px;
    width: 140px;
    height: 30px;
    margin: 10px;
}

