.Calculator {
    text-align: center;
    padding: 15px;
    border: 2px solid gray;
    width: 150px;
    height: 500px;
}
.calc {
    display: flex;
    flex-direction: column;
    width: 170px;
    align-items: center;
    margin: 10px;
    border: 2px solid green;
    padding: 10px;
}

.btn {
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
    margin: 2px;
    width: 25px;
    height: 25px;

}
.inputCode {
    border: 2px solid gray;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}